.text-color {
  color: #AAA;
}

.font-arial {
  font-family: "Arial", sans-serif;
}

.border-color {
  border: 1px solid #999;
}

.light-bg {
  background-color: #eeeeee;
}

.outline-color {
  &:focus {
    box-shadow: none;
    border-color: #000;
  }
}

.table-bg {
  background: linear-gradient(#dcdcdc, #fff);
}

.buttons {
  margin-left: 100px;
}

.shadow-hover:hover {
  box-shadow: 0 5px 10px #000;
}
